<%- include("partials/header", { pageTitle: pageTitle }) %>
<main>
  <h1>Nous contacter</h1>
  <p>Contactez-nous pour toute question ou demande d'information.</p>
</main>
<%- include("partials/footer") %>
